.brush {
  fill: palegreen;
}

div.tooltip { 
  position: absolute;     
  text-align: center;     
  display: inline-block;
  /* width: 80px;           */
  height: 16px;         
  padding: 2px;       
  font: 12px sans-serif;    
  background:white; 
  border: 0px;        
  pointer-events: none;     
  border: 0.8px solid gray;
}

.body {
  /* position:center; */
  /* display: block; */
  /* position: absolute; */
 
  top: 50%;
  left: 50%;

}

#graph {
  margin: 2% 10% 2% 10%;
  top: 50%;
  left: 50%;
}